body{
    font-family: 'Roboto Condensed', sans-serif !important;
}
.card{
    transition: all 0.3s;
}
.card:hover{
    transform: scale(1.1);
}

.footer-widget p {
    margin-bottom: 27px;
}

.futer{
    background-color: red;
}

::-webkit-scrollbar{
    width: 5px;

}

::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb{
    background: #121212;
    border-radius: 10px;
    
}